*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: transparent;
}

.icon {
  cursor: pointer;
}

.buttons {
  margin: 25px 0;
  position: relative;
}
i {
  font-size: 1.2rem;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  width: 120px;
  text-transform: uppercase;
}
.btn-blue {
  background-color: #0039c5;
  color: white;
}
.btn-gray {
  color: gray;
  position: absolute;
  left: 100px;
  z-index: -1;
}
.dashboard {
  color: black;
}
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 1px 3px 15px -4px #cfcbcb;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.list {
  list-style: none;
}
.search {
  margin-top: 30px;
}
ul li {
  display: inline-block;
}
hr {
  margin: 20px;
}
ul li a {
  color: #8a7f80;
  font-size: 1.2rem;
  display: block;
  padding: 15px;
  text-decoration: none;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.version {
  font-size: 0.9rem;
  color: gray;
}
.numbers {
  border-radius: 50%;
  color: black;
  margin-left: 17px;
  padding: 5px 10px;
}
.green {
  background-color: #bafd5b;
}
.orange {
  background-color: #fdbd07;
}
.toggle-icon i {
  display: none;
}

.profile {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #8a7f80;
}
.profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.profile .info p {
  color: #8a7f80;
}

@media screen and (max-width: 575px) {
  .sidebar .sidebar-header .sidebar-title,
  .sidebar .list li span:last-child,
  .sidebar .buttons,
  .sidebar .account,
  .sidebar hr,
  .sidebar .profile .info,
  .sidebar .sidebar-menu .list .d-flex .remove {
    display: none;
  }
  .sidebar .profile {
    border: none;
  }
  .sidebar .sidebar-header {
    flex-direction: column;
  }
  .sidebar .sidebar-header .sidebar-header-content {
    margin-bottom: 15px;
  }
  .sidebar {
    width: 80px;
  }

  .sidebar .toggle-icon i {
    display: block;
    padding: 15px;
    font-size: 1.5rem;
    color: #8a7f80;
  }
  .sidebar .sidebar-menu .profile {
    flex-direction: column;
  }

  .sidebar .sidebar-menu .profile img {
    order: 2;
    margin-top: 10px;
  }
  .sidebar .sidebar-menu .profile i {
    order: 1;
  }
}
